extends ./layout

block scripts
    script(src="//cdn.socket.io/socket.io-1.3.5.js")
    script(src="//code.createjs.com/easeljs-0.8.0.min.js")
    script(src="res/js/game.js")

block content
    div.container
        div.row
            h1.col-sm-12.text-center Clan Crush Saga
        div.row
            div.col-sm12
                canvas#wargame.center-block(width=800, height=450)
