extends ./layout

block title
    title Register &ndash; Clan Crush Saga

block content
    div.container
        div.row
            h1.col-sm-offset-4.col-sm-4 Choose a username
        form.form-horizontal(action="/process-google-finalize", method="post")
            div.form-group
                label.col-sm-offset-3.col-sm-1.control-label(for="username") Username:
                div.col-sm-4
                    input#username.form-control(name="username", type="text", autofocus)
            div.form-group
                label.col-sm-offset-2.col-sm-2.control-label Google Account:
                div.col-sm-4
                    div.form-control-static= displayName
            if error
                div.row
                    div.col-sm-offset-3.col-sm-5.alert.alert-danger= error
            div.form-group
                div.col-sm-offset-4.col-sm-1
                    button.btn.btn-default(type="submit") Register
