extends ./layout

block content
    div.container
        div.row
            h1.col-sm-12.text-center Clan Crush Saga
        div.row
            div.col-sm-offset-4.col-sm-4
                h4.text-right
                    | Hello, #{name || '{name}'}!
        div.row
            div.col-sm-offset-4.col-sm-4
                div.list-group
                    a.list-group-item.list-group-item-success(href="/game")
                        span.glyphicon.glyphicon-play
                        = ' '
                        | Play
                    a.list-group-item.list-group-item-info(href="/stats")
                        span.glyphicon.glyphicon-stats
                        = ' '
                        | Statistics
                    a.list-group-item.list-group-item-danger(href="/logout")
                        span.glyphicon.glyphicon-log-out
                        = ' '
                        | Log out
