doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        block title
            title Clan Crush Saga
        link(rel="stylesheet", href="style.css")
        link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
        block scripts
    body
        block content
