extends ./layout

block title
    title Log in &ndash; Clan Crush Saga

block content
    div.container
        div.row
            h1.col-sm-offset-4.col-sm-4 Log in
        form.form-horizontal(action="/process-login", method="post")
            div.form-group
                label.col-sm-offset-3.col-sm-1.control-label(for="username") Username:
                div.col-sm-4
                    input#username.form-control(name="username", type="text", autofocus)
            div.form-group
                label.col-sm-offset-3.col-sm-1.control-label(for="password") Password:
                div.col-sm-4
                    input#password.form-control(name="password", type="password")
            if error
                div.row
                    div.col-sm-offset-3.col-sm-5.alert.alert-danger= error
            div.form-group
                div.col-sm-offset-4.col-sm-1
                    button.btn.btn-default(type="submit") Log In
                div.col-sm-3.container
                    div.row
                        div.col-sm-12.text-right
                            | Not registered?
                            = ' '
                            a(href="/register") Register!
                    div.row
                        div.col-sm-12.text-right
                            | &hellip; or
                            = ' '
                            a(href="/google-login") Log in with Google!
