extends ./layout

block title
    title Register &ndash; Clan Crush Saga

block content
    div.container
        div.row
            h1.col-sm-offset-4.col-sm-4 Register
        form.form-horizontal(action="/process-register", method="post")
            div.form-group
                label.col-sm-offset-3.col-sm-1.control-label(for="username") Username:
                div.col-sm-4
                    input#username.form-control(name="username", type="text", autofocus)
            div.form-group
                label.col-sm-offset-3.col-sm-1.control-label(for="username") Password:
                div.col-sm-4
                    input#password.form-control(name="password", type="password")
            if error
                div.row
                    div.col-sm-offset-3.col-sm-5.alert.alert-danger= error
            div.form-group
                div.col-sm-offset-4.col-sm-1
                    button.btn.btn-default(type="submit") Register
                div.col-sm-3.container
                    div.row
                        div.col-sm-12.text-right
                            | Already registered?
                            = ' '
                            a(href="/login") Log in!
