extends ./layout

block content
    .container
        .row
            h1.col-sm-12.text-center Clan Crush Saga
        .row
            .col-sm-6
                h2 Total
            .col-sm-6
                h2 Recent
        .row
            .col-sm-6
                .list-group
                    .list-group-item.list-group-item-success
                        | Wins: #{total.matches.won}
                    .list-group-item.list-group-item-warning
                        | Ties: #{total.matches.tied}
                    .list-group-item.list-group-item-danger
                        | Losses: #{total.matches.lost}
            .col-sm-6
                .list-group
                    .list-group-item.list-group-item-success
                        | Wins: #{recent.matches.won}
                    .list-group-item.list-group-item-warning
                        | Ties: #{recent.matches.tied}
                    .list-group-item.list-group-item-danger
                        | Losses: #{recent.matches.lost}
        .row
            .col-sm-6
                .list-group
                    .list-group-item.list-group-item-success
                        | Gold generated: #{total.gold.generated}
                    .list-group-item.list-group-item-danger
                        | Gold spent: #{total.gold.spent}
            .col-sm-6
                .list-group
                    .list-group-item.list-group-item-success
                        | Gold generated: #{recent.gold.generated}
                    .list-group-item.list-group-item-danger
                        | Gold spent: #{recent.gold.spent}
        .row
            .col-sm-6
                .list-group
                    .list-group-item.list-group-item-success
                        | Units bought: #{total.units.bought}
                    .list-group-item.list-group-item-danger
                        | Units lost: #{total.units.lost}
                    .list-group-item.list-group-item-warning
                        | Units killed: #{total.units.killed}
            .col-sm-6
                .list-group
                    .list-group-item.list-group-item-success
                        | Units bought: #{recent.units.bought}
                    .list-group-item.list-group-item-danger
                        | Units lost: #{recent.units.lost}
                    .list-group-item.list-group-item-warning
                        | Units killed: #{recent.units.killed}
        .row
            .col-sm-4.col-sm-push-4
                h2 Achievements
        .row
            .col-sm-4.col-sm-push-4
                .list-group
                    each ach in achievements
                        .list-group-item
                            | #{ach.name}
